* {
	color: #073642;
	font-family: helvetica;
	background: #fdf6e3;
	text-align: center; 
}

a.undecorated {
	text-decoration: none;
}

h1 {
	color: #268bd2;
}

code, pre {
	text-align: left;
	font-family: monospace;
	background: #073642;
	color: #fdf6e3;
	border-radius: 8px;
	padding: 3px;
}

p, ul, li {
	text-align: left;
}

img {
	width: 90%;
	height: auto;
	border-radius: 8px;
	margin: auto;
}

span {
	display: block;
	padding-bottom: 16px;
}

.math {
	font-family: "Cambria", serif;
	font-style: italic;
}

.image_with_caption_container {
	width: 70%;
	height: auto;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: auto;
}

.caption {
	text-align: center;
	color: #86e75;
}

.solid {
	border: 0px;
	border-top: 3px solid #586e75;
	border-radius: 2px;
}

.dotted {
	width: 95%;
	border: 0px;
	border-top: 2px dotted #657b83;
}

.container {
	margin: auto;
	width: 720px;
}

.code_block {
	font-family: monospace;
	text-align: left; 
	background: #073642;
	color: #fdf6e3;
	border-radius: 5px;
	padding: 10px;
	width: 90%;
	margin: auto;
}
